body {
    font-family: "PT Sans", sans-serif;
}


#NotificationsCard {
    background-color:lightgrey;
}

h6 {
    font-weight: bold;
}

.notifsText {
    font-size: 14px;
}

.nav-link {
    color: #7A7979;
}

.nav-link.active {
    color: #00703B;
}


.carousel-indicators.custom-indicators button {
    width: 12px; 
    height: 12px; 
    border-radius: 50%;
    background-color: #C4C4C4;
    border: none;
    
}

.carousel-indicators.custom-indicators .active {
    background-color: #7A7979; 
}

/*trackerboard css styling */
#OR{
    font-weight: bold; 
    background-color:#e5e5e5; 
    color: rgb(255, 166, 0); 
    border-radius: 10px; 
    font-size: 1.25 em; 
    padding: 0.5em; 
}

#TOD{
    font-weight: bold; 
    color:#00703B;

}

button.imgButton {
    background: none !important;
    border: none !important;
}

button img{
    max-width: 4em; 
    max-height: 4em; 
}


#update{
    color:#00703B;
    font-size: 0.75em; 
}

.checkmark{
    max-width: 3em; 
    max-height: 3em;
}

.COREbutton{
    border-radius: 100px; 
    border-color:  #00703B;
    background-color:  #00703B;
}

.COREbutton:hover{
    border-color:  #75BC72; 
    background-color: #75BC72; 
}

.testIcons{
    max-width: 60px; 
    max-height: 60px; 
}
.expiration{
    font-weight: bold; 
    color: #7A7979; 
}
strong.blood-type{
    font-weight: bold; 
    font-size: 4em;
}

.form-check-input{
    background-color: #00703B;
}

input.form-control:hover{
    background-color: #75BC72; 
}

a.nav-link img {
    width: auto;
    height: 4rem;
}

body {
    overflow: scroll;
}

.trackerboard-button img {
    max-width: 2em; 
    max-height: 2em;
}