body {
    font-family: "PT Sans", sans-serif;
}


#NotificationsCard {
    background-color:lightgrey;
}

.notifsText {
    font-size: 14px;
}

.nav-link {
    color: #7A7979;
}

.nav-link.active {
    color: #00703B;
}


.carousel-indicators.custom-indicators button {
    width: 12px; 
    height: 12px; 
    border-radius: 50%;
    background-color: #C4C4C4;
    border: none;
    
}

.carousel-indicators.custom-indicators .active {
    background-color: #7A7979; 
}

/*trackerboard css styling */
#TOD{
    font-weight: bold; 
    color:#00703B;

}

#update{
    color:#00703B;
    font-size: 0.75em; 
}

.COREcheckbox{
    background-color: #00703B;
}
.COREbutton{
    border-radius: 100px; 
    border-color:  #00703B;
    background-color:  #00703B;
}

.COREbutton:hover{
    border-color:  #75BC72; 
    background-color: #75BC72; 
}

.testIcons{
    max-width: 60px; 
    max-height: 60px; 
}
.expiration{
    font-weight: bold; 
    color: #7A7979; 
}
strong.blood-type{
    font-weight: bold; 
    font-size: 2em;
}

.form-check-input{
    background-color: #00703B;
}

input.form-control:hover{
    background-color: #75BC72; 
}