body {
    font-family: "PT Sans", sans-serif;
}


#NotificationsCard {
    background-color:lightgrey;
}

h6 {
    font-weight: bold;
}

.notifsText {
    font-size: 14px;
}

.nav-link {
    color: #7A7979;
}

.nav-link.active {
    color: #00703B;
}


.carousel-indicators.custom-indicators button {
    width: 12px; 
    height: 12px; 
    border-radius: 50%;
    background-color: #C4C4C4;
    border: none;
    
}

.carousel-indicators.custom-indicators .active {
    background-color: #7A7979; 
}

/*trackerboard css styling */
#OR{
    font-weight: bold; 
    background-color:#e5e5e5; 
    color: rgb(255, 166, 0); 
    border-radius: 10px; 
    font-size: 1.5 em; 
    padding: 0.5em; 
}

#authorization{
    color: #00703B; 
    font-size: 1.25em;
}

#TOD{
    font-weight: bold; 
    color:#7A7979;

}

#update{
    color:#7A7979;
    font-size: 0.75em; 
}
button.imgButton {
    background: none !important;
    border: none !important;
}

button img{
    max-width: 4em; 
    max-height: 4em; 
}


.checkmark{
    max-width: 3em; 
    max-height: 3em;
}

.COREbutton{
    border-radius: 100px; 
    border-color:  #00703B;
    background-color:  #00703B;
}

.COREbutton:hover{
    border-color:  #75BC72; 
    background-color: #75BC72; 
}

.testIcons{
    max-width: 60px; 
    max-height: 60px; 
}
.expiration{
    font-weight: bold; 
    color: #7A7979; 
}
strong.blood-type{
    font-weight: bold; 
    font-size: 3.5em;
}

.form-check-input{
    background-color: #00703B;
}

input.form-control:hover{
    background-color: #75BC72; 
}

a.nav-link img {
    width: auto;
    height: 4rem;
}

body {
    overflow: scroll;
}

.trackerboard-button img {
    max-width: 2em; 
    max-height: 2em;
}

/* AOC Form css styling */
.accordion-button:focus {
    background-color: transparent;
  }

.accordion {
    --bs-accordion-btn-bg: #ffffff;
    --bs-accordion-active-bg: #ffffff;
    --bs-accordion-bg: #D9D9D9;
    --bs-accordion-btn-color: black;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-icon-transform: #00703B;
}

#overviewForm {
    background-color: #D9D9D9;
}

#collapseAll {
    color: #2694DD;
}

.accordion-button {
    font-weight: bold;
    font-size: 1em;
}

.checkmarkAOC{
    max-width: 1.5em; 
    max-height: 1.5em;
}

.containerSections {
    background-color: #D9D9D9;
    margin: 1em;
    padding: .5em;
    border-radius: 10px;
}

#sectionsCompHeader {
    font-weight: bold;
}

#AOCHeaderLine {
    border-top: 3px solid black;
}

.containerExport {
    margin: 1em;
}

#export {
    color: #00703B;
}