body {
    font-family: "PT Sans", sans-serif;
}


#NotificationsCard {
    background-color:lightgrey;
}

.notifsText {
    font-size: 14px;
}

.nav-link {
    color: #7A7979 !important;
}

.nav-link.active {
    color: #00703B !important;
}


.carousel-indicators.custom-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background-color: #C4C4C4 !important;
    border: none !important;
    
}

.carousel-indicators.custom-indicators .active {
    background-color: #7A7979 !important;
}

/*trackerboard css styling */
.expiration{
    font-weight: bold; 
    color: #7A7979; 
}
strong.blood-type{
    font-weight: bold; 
    font-size: 2em;
}